<?xml version="1.0"?>

<launch>
  <arg name="joy_config" default="elecom_joy" />
  <arg name="joy_dev" default="/dev/input/js1" />
  <node pkg="joy" name="joy_node" type="joy_node">
    <param name="dev" value="$(arg joy_dev)"/>
  </node>

  <node name="roomba_teleop_joy" pkg="roomba_teleop_joy" type="roomba_teleop_joy"/>
</launch>
